.main__header {
  width: 100vw;
  height: 90vh;
  display: grid;
  place-items: center;
}

.main__header-container {
  padding-top: 10rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main__header-left {
  margin-top: -3rem;
}

.main__header-left h3 {
  margin-bottom: 1rem;
  font-size: 2.813rem;
  color: #990202;
}

.main__header-left h4 {
  font-size: 1.5rem;
}

.main__header-left span {
  color: #990202;
}

.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.125rem;
  letter-spacing: 3px;
}

.main__header-right {
  display: grid;
  place-items: center;
}

/*-------------- services --------------*/

.services {
  margin-top: 4rem;
  width: 100vw;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  margin-top: 4rem;
}

.services__service h4 {
  font-size: 1.35rem;
  font-weight: 500;
}

.services__service a {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: center;
}

.services__service a:hover {
  background-color: #f9f6ee;
  color: #313bac;
  font-weight: 600;
}

/*-------------- Values --------------*/

.values {
  width: 100vw;
}

.values__container {
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.values__image {
  filter: saturate(0.25);
  transition: all 500ms ease-in-out;
}

.values__image img {
  border-radius: 1rem;
  max-height: 57rem;
}

.values__image:hover {
  filter: saturate(0.7);
}

.values__right p {
  margin: 1.5rem 0 5rem;
  font-size: 1.4rem;
}

.values__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.4rem 2.4rem;
}

.values__wrapper h4 {
  font-size: 1.35rem;
  font-weight: 500;
}

.card.values__value {
  padding-top: 3.5rem;
  text-align: left;
  position: relative;
}

.card.values__value span {
  position: absolute;
  top: -2.3rem;
}

/*-------------- FAQs --------------*/

.faqs {
  width: 100vw;
}

.faqs__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 3rem;
  align-items: flex-start;
}

.faq {
  background-color: #7192ba;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.faq div {
  display: flex;
  justify-content: space-between;
}

.faq__icon {
  background: transparent;
  color: #f9f6ee;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.faq h4 {
  font-size: 1.35rem;
  font-weight: 500;
}

.faq p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
}
