body {
  font-family: "Montserrat", sans-serif;
  color: #f9f6ee;
  line-height: 1.7;
  overflow-x: hidden;
  background: linear-gradient(to right, #6a85b6 0%, #bac8e0 100%);
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

a,
p {
  color: #f9f6ee;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: #f9f6ee;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  width: fit-content;
  font-weight: 600;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background-color: #313bac;
  border-radius: 1.5rem;
  transition: all 500ms ease-in-out;
}

.btn:hover {
  background-color: #f9f6ee;
  color: #313bac;
}

.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}

section {
  margin-top: 5rem;
}

.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__head span {
  display: grid;
  place-items: center;
  background-color: #313bac;
  padding: 0.8rem;
  border-radius: 1rem;
  color: #f9f6ee;
  font-size: 1.8rem;
}

.section__head h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.card {
  background-color: #7192ba;
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: all 500ms ease-in-out;
}

.card:hover {
  background: rgba(20, 0, 0, 0.1);
  border-color: #f9f6ee;
  cursor: default;
  box-shadow: none;
}

.card span {
  background-color: #313bac;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: all 500ms ease-in-out;
}

.card:hover span {
  background-color: #f9f6ee;
  color: #313bac;
}

.card small {
  margin-top: 1rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 300;
  color: #e5e4e2;
}
